<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Book an Appointment</title>
</head>
<body>
	<h1>Book an Appointment</h1>
	<h2>Pick a Department</h2>
	<form action = "availabledoctors">
		<select name = "departments">
		<option disabled =true selected>--Select Department Name</option> 
		
			{% for x in query %}
			<option><h3>{{x.DEPTNAME}}</h3></option>
			{% endfor %}
	
		
	</select>
	
	<input type="submit" name="" value = "Search">


	</form>
	
	
			
</body>
</html>