<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Doctor Availability</title>
</head>
<body>
	<form action = "appointmentbookedsuccessfully">
		<select name = "dates">
		<option disabled =true selected>--Select a date</option> 
		
			{% for x in dates %}
			<option><h3>{{x}}</h3></option>
			{% endfor %}
	
		
		</select>
		<select name = "time">
		<option disabled =true selected>--Select a time</option> 
		
			<option><h3>10</h3></option>
			<option><h3>11</h3></option>
			<option><h3>12</h3></option>
			<option><h3>13</h3></option>
			<option><h3>14</h3></option>
			<option><h3>15</h3></option>
		
		</select>
		<select name = "onlineoffline">
		<option disabled =true selected>--Select mode</option> 
		
			<option><h3>Online</h3></option>
			<option><h3>Offline</h3></option>
			
		
		</select>

		<br>
		
		<input type="text" name="employeeid" value = {{result2}}>
	<input type="submit" name="" value = "Select">


	</form>

</body>
</html>