<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Employee Home</title>
</head>
<body>
	<p>Employee Home</p>
	<a class="nav-link" href="{% url 'logout' %}">Logout</a> &nbsp &nbsp
	<a class="nav-link" href="{% url 'docmedicalrecord' %}">TO Insert Medical Record</a> &nbsp &nbsp
	<a class="nav-link" href="{% url 'medrecordsearch' %}">TO Search Medical Record</a> &nbsp &nbsp
	<a class="nav-link" href="{% url 'payslip' %}">Check your Payslip</a> &nbsp &nbsp
</body>
</html>